flows.json
[{"id":"6ef851cc.891a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc9d0dea.ee797","type":"function","z":"6ef851cc.891a8","name":"","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":80,"wires":[["a7bc19e5.2d6938"]]},{"id":"a94bac65.e3344","type":"function","z":"6ef851cc.891a8","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["3ff36862.c9c1f8"]]},{"id":"a7bc19e5.2d6938","type":"watson-discovery-v1","z":"6ef851cc.891a8","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/3cc8f48d-a6f4-48bb-b0ee-b89a3df294b8","x":110,"y":120,"wires":[["a94bac65.e3344","8bf38d4e.788cf","50475366.4afdcc","1302b317.881abd","5e6f67a.ab81e98","69790de3.a786b4","56fec525.64df7c"]]},{"id":"1302b317.881abd","type":"function","z":"6ef851cc.891a8","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["b6db8549.6ec198"]]},{"id":"8bf38d4e.788cf","type":"function","z":"6ef851cc.891a8","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["e16a7280.5abd4"]]},{"id":"69790de3.a786b4","type":"function","z":"6ef851cc.891a8","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["f960455d.a9d298"]]},{"id":"50475366.4afdcc","type":"function","z":"6ef851cc.891a8","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["7d716637.1293a8"]]},{"id":"5e6f67a.ab81e98","type":"function","z":"6ef851cc.891a8","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["17afb485.04c6db"]]},{"id":"571f4b07.8a88f4","type":"function","z":"6ef851cc.891a8","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["93bc0374.10bac"]]},{"id":"56fec525.64df7c","type":"function","z":"6ef851cc.891a8","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["571f4b07.8a88f4"]]},{"id":"3ff36862.c9c1f8","type":"ui_text","z":"6ef851cc.891a8","group":"9f429edb.bb1f","order":5,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"col-center","x":550,"y":40,"wires":[]},{"id":"17afb485.04c6db","type":"ui_text","z":"6ef851cc.891a8","group":"9f429edb.bb1f","order":8,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"col-center","x":570,"y":240,"wires":[]},{"id":"b6db8549.6ec198","type":"ui_text","z":"6ef851cc.891a8","group":"9f429edb.bb1f","order":4,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"col-center","x":570,"y":160,"wires":[]},{"id":"e16a7280.5abd4","type":"ui_text","z":"6ef851cc.891a8","group":"9f429edb.bb1f","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"col-center","x":550,"y":80,"wires":[]},{"id":"f960455d.a9d298","type":"ui_text","z":"6ef851cc.891a8","group":"9f429edb.bb1f","order":3,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"col-center","x":580,"y":120,"wires":[]},{"id":"93bc0374.10bac","type":"ui_chart","z":"6ef851cc.891a8","name":"","group":"9f429edb.bb1f","order":8,"width":"12","height":"9","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":280,"wires":[[]]},{"id":"7d716637.1293a8","type":"ui_gauge","z":"6ef851cc.891a8","name":"","group":"9f429edb.bb1f","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":200,"wires":[]},{"id":"6710d38a.b6d5ac","type":"ui_form","z":"6ef851cc.891a8","name":"","label":"","group":"9f429edb.bb1f","order":1,"width":"14","height":"4","options":[{"label":"Search for News","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":40,"wires":[["fc9d0dea.ee797"]]},{"id":"9f429edb.bb1f","type":"ui_group","z":"","name":"Default","tab":"b7435f0c.5c04b","order":1,"disp":false,"width":"14","collapse":false},{"id":"b7435f0c.5c04b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]